name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]  # Updated to use Node.js 16

    steps:
    - uses: actions/checkout@v3  # Updated to use the latest version
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3  # Updated to use the latest version
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test
